# bokeh==2.4.2
# ee==0.2
# Fiona==1.8.22
folium==0.14.0
# geemap==0.17.1
geopandas==0.12.1
# leafmap==0.16.1
millify==0.1.1
# palettable==3.3.0
pandas==1.4.2
Pillow==9.4.0
plotly==5.6.0
# pydeck==0.8.0
# requests==2.28.1
# Shapely==1.8.4
streamlit==1.18.1
# streamlit_bokeh_events==0.1.2
streamlit_folium==0.11.0
# tropycal==0.6.1